.App {
  text-align: center;
}

.app-header {
  background-color: #fff;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #e75557;
}

.status-message{
  color: grey;
  font-weight: lighter
}

.timer{
  min-height: 370px;
  border: 1px solid #e75557;
  border-radius: 50%;
  width: 370px;
  margin: auto;
  position: relative;
}

.timer h1 {
 font-size: calc(50px + 2vmin);
 margin-top: 130px;
}

.timerButtons {
  margin-top: 50PX;
  min-height: 150px;
  
}

.timerButtons button {
  background: url('https://www.cleanpng.com/png-emoji-tomato-food-pomodoro-technique-vegetable-tom-1313221/') no-repeat top left;
  border: none;
  font-weight: bolder;
}

.pomodoro-count {
  min-height: 100px;
  color: lightslategray;
}

.pomodoro-count span {
  color: #e75557;
}

.timerButtons img {
  height: 80px;
  width: 80px;
  display: block;
  margin: 0px 0px 10px 0px;
}
